
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}


.navbar {
    
}

.navbar-nav {
    margin: 20px auto; 
}

.navbar-nav a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
   
} 

.card {
   margin: 10% auto;
   border: none;
}

.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-media ul li{
    list-style: none;
    padding: 10px;
}